@import 'datepicker.css';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
}

header#page-header {
    background-color: gray;
}

header button {
    margin: 15px;
}

#add-card-dialog {
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding-top: 20px;
}

#add-card-dialog h3, h4 {
    color: white;
}

#add-card-dialog button {
    padding: 6px 6px;
    margin: 0 25px;
}

#add-card-dialog input {
    margin: 2px 0;
    width: 90%;
}

textarea#card-description {
    height: 100px;
    width: 90%;
    resize: none;
}

.card button {
    margin-right: 12px;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.__column {
    padding: 0 5px;
    color: black;
    border-right: 1px solid gray;
    min-height: 100%;
}

.__column h1 {
    text-align: center;
    border-bottom: gray solid 1px;
}

.card {
    background-color: rgb(179, 179, 179);
    border: gray solid 1px;
    border-radius: 7px;
    padding-left: 8px;
    width: 315px;
    margin: 2px auto;
}


.card:hover {
    cursor: pointer;
}

span.deadline {
    padding: 1em;
}