html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
}

header {
    background-color: gray;
}

header button {
    margin: 7px;

}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.__column {
    padding: 0 5px;
    color: black;
    border-right: 1px solid gray;
}

.__column h1 {
    text-align: center;
    border-bottom: gray solid 1px;
}

.card {
    background-color: rgb(179, 179, 179);
    border: gray solid 1px;
    padding-left: 8px;
}

.card:hover {
    cursor: pointer;
}
