html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
}

header {
    background-color: gray;
}

header button {
    margin: 15px;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.__column {
    padding: 0 5px;
    color: black;
    border-right: 1px solid gray;
}

.__column h1 {
    text-align: center;
    border-bottom: gray solid 1px;
}

.card {
    background-color: rgb(179, 179, 179);
    border: gray solid 1px;
    border-radius: 7px;
    padding-left: 8px;
    width: 315px;
    margin: 5px 0;
}


.card:hover {
    cursor: pointer;
}


.add-card-dialog {
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    padding-top: 40px;
}

.add-card-dialog button {
    padding: 10px 10px;
    margin: 0 25px;
}

.add-card-dialog input {
    margin: 10px 0;
}

textarea#card-description {
    height: 50px;
    resize: none;
}